In [30]:
import pandas as pd
# import numpy as np

In [5]:
csv1 = pd.read_csv('Resources/Chicago Neighborhoods by Zipcode.csv', delimiter=',')
csv2 = pd.read_csv('Resources/UIC_gentrification_index_neighborhood_list.csv', delimiter=',')

In [7]:
csv1.head()

         Neighborhood      Zip Code
0            Downtown           NaN
1  Cathedral District         60611
2     Central Station         60605
3       Dearborn Park         60605
4          Gold Coast  60610, 60611

In [31]:
csv1["Neighborhood"] = csv1["Neighborhood"].str.replace("\xa0","")

In [8]:
csv2.head()

,Neighborhood,1970,1980,1990,2000,2010,1970-2010,Change,Classification
0,Albany Park,NaN,NaN,NaN,NaN,NaN,NaN,Negative,7 - Mild Decline
1,Archer Heights,NaN,NaN,NaN,NaN,NaN,NaN,Negative,8 - Moderate Decline
2,Armour Square,NaN,NaN,NaN,NaN,NaN,NaN,Positive,5 - Not Gentrification
3,Ashburn,NaN,NaN,NaN,NaN,NaN,NaN,Negative,9 - Serious Decline
4,Auburn Gresham,NaN,NaN,NaN,NaN,NaN,NaN,Negative,9 - Serious Decline

In [18]:
zip_code_file_hoods = sorted(csv2['Neighborhood'].unique())

In [19]:
gentrification_zip = sorted(csv1[csv1['Neighborhood'].notnull()]['Neighborhood'].unique())

In [35]:
[n for n in zip_code_file_hoods if n not in gentrification_zip]

['Archer Heights',
 'Armour Square',
 'Ashburn',
 'Auburn Gresham',
 'Austin',
 'Avalon Park',
 'Avondale',
 'Belmont Cragin',
 'Brighton Park',
 'Burnside',
 'Calumet Heights',
 'Chatham',
 'Chicago Lawn',
 'Clearing',
 'Douglas',
 'Dunning',
 'East Garfield Park',
 'East Side',
 'Fuller Park',
 'Gage Park',
 'Garfield Ridge',
 'Grand Boulevard',
 'Greater Grand',
 'Hegewisch',
 'Hermosa',
 'Humboldt Park',
 'Lake View',
 'Logan Square',
 'Lower West Side',
 'Montclare',
 'Near South Side',
 'New City',
 'North Lawndale',
 "O'Hare",
 'Pullman',
 'Riverdale',
 'Rogers Park',
 'Roseland',
 'South Chicago',
 'South Deering',
 'South Lawndale',
 'Washington Heights',
 'West Elsdon',
 'West Englewood',
 'West Garfield Park',
 'West Lawn',
 'West Pullman']

In [38]:
merged = csv2.merge(csv1, how='left', on='Neighborhood')
merged.isna().sum()

Neighborhood       0
1970              68
1980              68
1990              68
2000              68
2010              68
1970-2010         68
Change             0
Classification     0
Zip Code          46
dtype: int64

In [39]:
merged.shape

(77, 10)