In [45]:
import pandas as pd

csv = pd.DataFrame
csv = pd.read_csv('~/Desktop/IL_report_cards_ISBE.net/rc07.csv',delimiter=',',header=None,dtype=str,low_memory=False)
csv = csv.set_index(4)
csv.head()
csv = csv.loc[csv.index() == 'PAYSON']
#chicago_subset = multicity_set.*loc[multicity_set['City Name'] == 'CHICAGO']*

TypeError: 'Index' object is not callable

In [44]:
csv.head()

Empty DataFrame
Columns: [0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, ...]
Index: []

[0 rows x 11678 columns]